.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
ESP32/src/secrets.h
Producers/FeederProducer/.venv
Producers/FeederProducer/.env
Producers/FeederProducer/test_*.json
Producers/FeederProducer/__pycache__